name: archive

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - run: export PATH=$(sudo ./install-tools.sh) && which curl && curl -v https://icanhazip.com
