name: archive

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4
    - run: sudo mkdir -p /nix/store && sudo chmod -R a+rwx /nix && ./run
      env: 
        AWS_DEFAULT_REGION: auto
        S3_ENDPOINT_URL: ${{ secrets.S3_ENDPOINT_URL }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
